<div class="nav"><a href="./closed">Show Closed Issues</a></div>

<% if (viewData.issues.length) { %>
    <% for (const issue of viewData.issues) { %>
        <div class="issueContainer">
            <div class="issue" id="<%= issue.id %>">
                <img crossorigin="anonymous" src="<%= issue.avatar %>" alt="avatar" class="avatar">
                <div class="issueContent">
                    <h3><%= issue.title %></h3>
                    <p><%= issue.description %></p>
                </div>
                <form class="closeButtonForm" method="post" action="./<%= issue.iid %>/close">
                    <input type="hidden" name="iid" value="<%= issue.iid %>" />
                    <button type="submit" class="closeButton">Close issue</button>
                </form>
            </div>
        </div>
    <% } } else { %>
        <div class="issue">
            <h2>No Issues</h2>
        </div>
    <% } %>

    <template id="issue-template">
            <div class="issue">
                <img crossorigin="anonymous" alt="avatar" class="avatar">
                <div class="issueContent">
                    <h3></h3>
                    <p></p>
                </div>
                <form class="closeButtonForm" method="post">
                    <input type="hidden" name="iid"/>
                    <button type="submit" class="closeButton">Close issue</button>
                </form>
            </div>
    </template>